ML_DATA_DIR=./data
ML_MODEL_DIR=./models
ML_SERVICE_PORT=8000
ML_LOG_LEVEL=INFO
ML_SIGMOID_K=2.5
ML_EPSILON=0.2
ML_CONFIDENCE_W1=0.6
ML_CONFIDENCE_W2=0.4
SHAP_BATCH_THRESHOLD=20
SHAP_SAMPLE_THRESHOLD=10
ML_BATCH_TIMEOUT_MS=120
MAX_BATCH_SIZE=200
ML_TRAIN_TIMEOUT_SEC=120
TRAINING_ENABLED=false
SCORING_WEIGHT_PROB=0.5
SCORING_WEIGHT_PLACEMENT=0.3
SCORING_WEIGHT_PRESTIGE=0.2
FORM_FILLING_MAX_ENTRIES=50
FORM_FILLING_WEIGHT_LOCATION=0.2
FORM_FILLING_WEIGHT_BRANCH=0.1
DATA_VERSION=2024-25
